/**{
	outline: 1px solid rgba(255, 0, 0, 0.4);
}
*/
.fondo{
	background: rgba(0,0,0,0.5);
	height: 500px;	
}
.logo{
	margin-top: 15px;
}
header{

	background: url("../image/large.jpg") no-repeat;
	background-size: cover;
	height: 500px;
	/*padding-top:50px;*/
	
}
.navegar{
	margin-top: 30px;
}
.linea{
	height: 1px;
	background: black;
	text-align: center;
}


.separador{
	position: relative;
	top:-3.7em;
}
.icon{
	
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius:200px;
	background-color: skyblue;
	color:white;
	position: absolute;
	left: -60px;
}
.contenido{
	position: relative;
	top:-150px;
}
 
.list-inline{
	float:right;

}
ul li a{
	color:white;
}
.phrase{
	position: relative;
	top:150px;
	margin: 0 auto;
	color:white;
	width: 600px;
	text-align: center;

}
h5 p{
	text-align: center;
}

.header-banner{
	position: relative;
	top:255px;
	background: rgba(75,134,247,0.78);
}
.boton{
	color:white;
	background: rgba(75,134,247,0.78);
	opacity: 0.8;
	border-radius: 5px;
	width: 200px;
	border:2px solid white;
	height: 50px;
	margin: 20px;
}
.flecha{
	text-align: center;
}

.icon-container {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	line-height: 150px;
	font-size: 60px;
	text-align: center;
	box-shadow: -2px 2px 20px rgba(0 , 0, 0, 0.2);
	border-radius:200px;
	color: skyblue;
}

.logo2{
	width: 330px;
}
h1 , h3{
	color:skyblue;
}

.banner{
	background: rgba(75,134,247,0.78);
}
.header-banner h3 p{
	color:white;
}
.info-banner{
	color:white;
}
footer{
	background-color: #455E66;
	color:white;
}
.icon-copy{
	margin-top: 15px;
	text-align:right;
}

@media screen and (max-width : 1000px) {
	.container{
		width: 100%;
	}
	header .phrase{
		transform: translateY(-100px);
	}
	header .header-banner{
		transform: translateY(-115px);
	}
	.list-inline{
		display:none;
	}


}

@media screen and (max-width: 600px) {

	.container{
		width: 100%;
	}
	header .phrase{
		width: 100%;
		transform: translateY(-100px);
	}
	header .header-banner{
		transform: translateY(-115px);
	}
	.list-inline{
		display:none;
	}
	
}

